# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
logs*
logs
*logs*


# Django
media/
staticfiles/
migrations_backup/

# Virtual environment
venv/
.env
.env.dev
*.env.*
google_secret

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
