asgiref==3.9.1
boto3==1.40.43
botocore==1.40.43
cachetools==6.2.2
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.2.6
django-cors-headers==4.7.0
django-filter==25.1
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
httplib2==0.31.0
idna==3.11
jmespath==1.0.1
oauthlib==3.3.1
pillow==11.3.0
proto-plus==1.26.1
protobuf==6.33.1
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
s3transfer==0.14.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
